bin
gen
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
app/build/intermediates/classes/androidTest/debug/com/example/stickerexchange/test/BuildConfig.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$anim.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$attr.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$bool.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$color.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$drawable.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$id.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$integer.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$layout.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$string.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$style.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R$styleable.class
app/build/intermediates/classes/debug/android/support/v7/appcompat/R.class
app/build/intermediates/classes/debug/com/example/stickerexchange/BuildConfig.class
app/build/intermediates/classes/debug/com/example/stickerexchange/CheckExchangeAbility.class
app/build/intermediates/classes/debug/com/example/stickerexchange/Exchange$1.class
app/build/intermediates/classes/debug/com/example/stickerexchange/MainActivity.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$anim.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$attr.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$bool.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$color.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$dimen.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$drawable.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$id.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$integer.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$layout.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$menu.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$string.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$style.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R$styleable.class
app/build/intermediates/classes/debug/com/example/stickerexchange/R.class
app/build/intermediates/classes/debug/com/example/stickerexchange/RegisterActivity$1.class
app/build/intermediates/classes/debug/com/example/stickerexchange/RegisterActivity$2.class
app/build/intermediates/classes/debug/com/example/stickerexchange/RegisterActivity$RegisterUser.class
app/build/intermediates/classes/debug/com/example/stickerexchange/RegisterActivity.class
app/build/intermediates/classes/debug/com/example/stickerexchange/UserFunctions.class
app/build/intermediates/dex/debug/classes.dex
app/build/intermediates/incremental/mergeResourcesdebug/merger.xml
app/build/intermediates/res/merged/debug/layout/exchange.xml
app/build/intermediates/res/resources-debug.ap_
app/build/outputs/apk/app-debug.apk
local.properties
